
.stuntmans__tabs {
    display: flex;
    flex-direction: column;
    gap: 9.6rem;
}

.stuntmans__tabs__btns {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    flex-wrap: wrap;
}

.stuntmans__tabs__btn {
    font-size: 1.9rem;
    color: var(--white);
    padding: 1.2rem 2.4rem;
    background-color: var(--grey);
    transition: opacity 0.2s ease-in-out;
    flex-grow: 1;
    font-family: var(--font-default);

}

.stuntmans__tabs__btn.active {
    background-color: var(--default);
    color: var(--black);
}

.stuntmans__tabs__content__item {
    display: none;
}

.stuntmans__tabs__content__item.active {
    display: block;
}

.stuntmans__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 13.5rem 2.5rem;
}

.stuntman-card {
    position: relative;
}

.stuntman-card__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.stuntman-card__img {
    position: relative;
    width: 100%;
    height: 54.4rem;
    overflow: hidden;
    margin-bottom: 2.5rem;
}

.stuntman-card__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.stuntman-card__hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: var(--default);
    color: var(--black);
    padding: 4.5rem 3.2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.6rem;
    font-weight: 400;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.stuntman-card__hover__item__title {
    font-weight: 700;
    font-family: var(--font-default);
}

@media(hover: hover) {
    .stuntman-card__link:hover~.stuntman-card__img .stuntman-card__hover {
        opacity: 1;
    }
}

.stuntman-card__name {
    font-size: 2.5rem;
    font-weight: 600;
    font-family: var(--font-default);
}

@media(max-width: 640px) {
    .stuntmans__tabs {
        gap: 0;
    }
    
    .stuntmans__tabs__btns {
        gap: 2rem;
        flex-direction: column;
        align-items: stretch;
    }
    
    .stuntmans__list {
        grid-template-columns: repeat(2, 1fr);
        gap: 2.5rem 2rem;
    }
    
    .stuntman-card__img {
        height: 24rem;
        margin-bottom: 1.4rem;
    }

    .stuntman-card__hover {
        padding: 1rem;
        gap: 1.5rem;
        font-size: 1rem;
    }
}

/* Стили для кнопки фильтров на мобильных */
.filters-btn {
    display: none;
    transition: opacity 0.2s ease-in-out;
    margin-bottom: 2rem;
}

.filters-btn__icon {
    width: 3rem;
    height: 3rem;
}


@media (hover: none) {
    .filters-btn:active {
        opacity: 0.8;
    }
}

@media (max-width: 640px) {
    .filters-btn {
        display: flex;
    }
    
    .stuntmans__tabs__btns {
        display: none;
    }
    .stuntman-card__name {
        font-size: 1.5rem;
    }
}

.burger__menu__filters .stuntmans__tabs__btns {
    display: flex;
}
.burger__menu__content {
    text-align: center;
    text-wrap: balance;
    font-size: 1.5rem;
}
.burger__menu__filters  {
    padding-bottom: 5rem;
}
.burger__menu__filters .burger__menu__inner  {
    justify-content: start;
    gap: 5rem
    ;
}