<footer class="footer">
    <div class="container">
        <div class="burger__menu__footer">
            <div class="burger__menu__footer__contacts">
                <a href="tel:+79999999999" class="burger__menu__footer__contacts__item">
                    +7 (999) 999-99-99
                </a>
                <a href="mailto:info@example.com" class="burger__menu__footer__contacts__item">
                    info@example.com
                </a>
                <a href="#" class="burger__menu__footer__contacts__item">
                    Адрес
                </a>
            </div>
            <div class="burger__menu__footer__socials">
                <a href="#" class="burger__menu__footer__socials__item">
                    <img src="assets/img/base/tg.svg" alt="Telegram">
                </a>
                <a href="#" class="burger__menu__footer__socials__item">
                    <img src="assets/img/base/insta.svg" alt="Instagram">
                </a>
                <a href="#" class="burger__menu__footer__socials__item">
                    <img src="assets/img/base/youtube.svg" alt="Youtube">
                </a>
            </div>
        </div>
    </div>
</footer>