<article class="stuntman-card">
    <a href="#" class="stuntman-card__link"></a>
    <div class="stuntman-card__img">
        <img src="assets/img/temp/stuntman-card.png" alt="">
        <div class="stuntman-card__hover">
            <div class="stuntman-card__hover__item">
                <h4 class="stuntman-card__hover__item__title">Специализация</h4>
                <p class="stuntman-card__hover__item__text">Авто-трюки</p>
            </div>
            <div class="stuntman-card__hover__item">
                <h4 class="stuntman-card__hover__item__title">Навыки</h4>
                <p class="stuntman-card__hover__item__text">Экстремальное вождение, перевороты, контроль на высокой
                    скорости</p>
            </div>

            <div class="stuntman-card__hover__item">
                <h4 class="stuntman-card__hover__item__title">Категории</h4>
                <p class="stuntman-card__hover__item__text">Автотрюки, спецэффекты, падения</p>
            </div>
        </div>
    </div>
    <div class="stuntman-card__content">
        <h3 class="stuntman-card__name">Павел Богомолов</h3>
    </div>
</article>